.main_butons {
  min-height: 100vh;
  background-color: #050A30;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  .allcards {
    width: 80%;
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: initial;

    .btn-p {
      width: 12%;
      padding: 10px;
      display: flex;
      flex-flow: column;
      gap: 5px;

      .all-width {
        width: 100%;
        border-radius: none;
        font-size: 1.5rem;
      }

      .list-topics {
        width: 100%;
        margin: 0 auto;
        min-height: 100px;

        bottom{
            width: 100%;
        }

        .topics{
            width: 100%;

            ul{
              list-style: none;
              li{
                font-size: 1.3rem;
              }
            }
        }
      }
    }
  }

}
