<section class="main_butons onlibackground">
  <div>
    <h2>Choose a topic</h2>
  </div>

  <frame>
    <img src="../../../assets/gifs/patient.gif" alt="waiting gif">
  </frame>

  <div class="allcards">

    <article class="btn-p" *ngFor="let r of content">

      <button class="all-width" (click)="direccion()">{{r.titulo}}</button>

      <div class="list-topics">

        <button [ngStyle]="{'width':'100%','font-size':'1rem'}" type="button" (click)="despliegue()"><a>Ver temario </a></button>

        <div *ngIf="abrir" class="topics">
          <ul>
            <li *ngFor="let t of r.temas">{{t}}</li>
          </ul>
        </div>

      </div>

    </article>
    
  </div>

</section>
