<div>

  <section>

    <div class="accordion" id="accordionP1t1">

      <div class="accordion-item">
        <h2 class="accordion-header " id="contentP1t1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP1t1"
            aria-expanded="false" aria-controls="collapseP1t1">
            Como instalar Angular Cli
          </button>
        </h2>
        <div id="collapseP1t1" class="accordion-collapse collapse" aria-labelledby="contentP1t1"
          data-bs-parent="#accordionP1t1">

          <div class="accordion-body">
            <section class="explanation mb-md-3">

              <h2 class="mb-md-4">¿Que es Angular CLI?</h2>

              <p>Angular CLI no es una herramienta de terceros, sino que nos la ofrece el propio equipo de Angular.
              </p>
              <p>En resumen, nos facilita mucho el proceso de inicio de cualquier aplicación con Angular, </p>
              <p>ya que en pocos minutos te ofrece el esqueleto de archivos y carpetas que vas a necesitar, </p>
              <p>junto con una cantidad de herramientas ya configuradas. Además, durante la etapa de desarrollo nos
                ofrecerá
                muchas ayudas, </p>
              <p>generando el “scaffolding” de muchos de los componentes de una aplicación. Durante la etapa de
                producción o</p>
              <p>testing también nos ayudará, permitiendo preparar los archivos que deben ser subidos al servidor,
                transpilar
                las fuentes, etc.</p>

            </section>

            <section class="my-md-4 explanation">

              <h4>Comando para instalar Angular Cli</h4>

              <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/install angular comand.png"
                alt="comando de instalacion">

            </section>

            <section class="my-md-4 explanation">
              <h4 class="py-md-2">Generar un nuevo componente</h4>

              <div>
                <p *ngFor="let t of ['- Componente','- Modulo','- Guard','- Servicio','etc...']">{{t}}</p>
              </div>

              <div>
                <p class="display-6">*Tanto las comillas como el contenido de adentro se substituyen con solo el nombre
                  del componente</p>
                <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/generate components.png"
                  alt="img de generar componente">
              </div>


            </section>

            <section class="my-md-3 explanation">
              <h4>Crear un nuevo proyecto</h4>

              <div>
                <p>Para crear un nuevo proyecto recuerda ubicarte en la carpeta que vas a crear el proyecto</p>
                <p>ejecutar la consola dentro y ejecutar el siguente comando</p>
              </div>

              <div>
                <p class="display-6">*Tanto las comillas como el contenido de adentro se substituyen con solo el nombre
                  del componente</p>
                <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/new proyect.png"
                  alt="new proyect comand">
              </div>

            </section>

            <section class="my-md-4 explanation">
              <h4>Reistalar librerias a un proyecto de angular</h4>

              <p>Usar el comando en el inicio del proyecto con el powershell o el cmd</p>
              <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/reistall dependes.png"
                alt="reistall dependencias con npm">

            </section>

            <section class="my-md-4 d-md-flex justify-content-md-center explanation">

              <div class="card" style="width: 18rem;">
                <h5 class="card-title m">Support video</h5>
                <iframe class="" src="https://www.youtube.com/embed/6741ceWzsKQ?controls=0" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>

              </div>


            </section>

            <section class="my-md-4 d-md-flex justify-content-center align-content-center explanation"
              style="gap: 5px;">
              <h4>Dudas checa el sitio oficial:</h4>
              <a href="https://angular.io/" target="_blank"><img class="img" src="../../../../assets/images/angular.ico"
                  alt="IMG angular"></a>

            </section>
          </div>

        </div>
      </div>

    </div>

  </section>


  <!-- <section> no aptop para acordeon



    <div class="accordion accordion-flush" id="btnp1t1">
      <div class="accordion-item">

        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Como instalar Angular Cli
          </button>
        </h2>

        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#btnp1t1">
          <div class="accordion-body">

            <section class="explanation mb-md-3">

              <h2 class="mb-md-4">¿Que es Angular CLI?</h2>

              <p>Angular CLI no es una herramienta de terceros, sino que nos la ofrece el propio equipo de Angular.
              </p>
              <p>En resumen, nos facilita mucho el proceso de inicio de cualquier aplicación con Angular, </p>
              <p>ya que en pocos minutos te ofrece el esqueleto de archivos y carpetas que vas a necesitar, </p>
              <p>junto con una cantidad de herramientas ya configuradas. Además, durante la etapa de desarrollo nos
                ofrecerá
                muchas ayudas, </p>
              <p>generando el “scaffolding” de muchos de los componentes de una aplicación. Durante la etapa de
                producción o</p>
              <p>testing también nos ayudará, permitiendo preparar los archivos que deben ser subidos al servidor,
                transpilar
                las fuentes, etc.</p>

            </section>

            <section class="my-md-4 explanation">

              <h4>Comando para instalar Angular Cli</h4>

              <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/install angular comand.png"
                alt="comando de instalacion">

            </section>

            <section class="my-md-4 explanation">
              <h4 class="py-md-2">Generar un nuevo componente</h4>

              <div>
                <p *ngFor="let t of ['- Componente','- Modulo','- Guard','- Servicio','etc...']">{{t}}</p>
              </div>

              <div>
                <p class="display-6">*Tanto las comillas como el contenido de adentro se substituyen con solo el nombre
                  del componente</p>
                <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/generate components.png"
                  alt="img de generar componente">
              </div>


            </section>

            <section class="my-md-3 explanation">
              <h4>Crear un nuevo proyecto</h4>

              <div>
                <p>Para crear un nuevo proyecto recuerda ubicarte en la carpeta que vas a crear el proyecto</p>
                <p>ejecutar la consola dentro y ejecutar el siguente comando</p>
              </div>

              <div>
                <p class="display-6">*Tanto las comillas como el contenido de adentro se substituyen con solo el nombre
                  del componente</p>
                <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/new proyect.png"
                  alt="new proyect comand">
              </div>

            </section>

            <section class="my-md-4 explanation">
              <h4>Reistalar librerias a un proyecto de angular</h4>

              <p>Usar el comando en el inicio del proyecto con el powershell o el cmd</p>
              <img class="size-pic-sm img-fluid" src="../../../../assets/screenshots/reistall dependes.png"
                alt="reistall dependencias con npm">

            </section>

            <section class="my-md-4 d-md-flex justify-content-md-center explanation">

              <div class="card" style="width: 18rem;">
                <h5 class="card-title m">Support video</h5>
                <iframe class="" src="https://www.youtube.com/embed/6741ceWzsKQ?controls=0" title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>

              </div>


            </section>

            <section class="my-md-4 d-md-flex justify-content-center align-content-center explanation"
              style="gap: 5px;">
              <h4>Dudas checa el sitio oficial:</h4>
              <a href="https://angular.io/" target="_blank"><img class="img" src="../../../../assets/images/angular.ico"
                  alt="IMG angular"></a>

            </section>

          </div>

        </div>
      </div>

    </div>

  </section> -->



</div>

<!-- 
    <div>

    <section>
        <h4>¿Que es Angular CLI?</h4>
        <p>explicacion</p>
    </section>

    <section>
        <p>coding example</p>
    </section>

    <section>
        <p>optional</p>
        <p>video of istaling angular cli</p>
    </section>
    

</div>
 -->
