.login_section {
  background-color: #050A30;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;

  .circle {

    min-width: 40rem;
    min-height: 40rem;
    border: 3px solid white;
    border-radius: 50%;
    animation: borderrainbow infinite 1s alternate-reverse;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    justify-content: center;

    .title-log {
      padding: 6px 4px;
    }

    .example-form {
      padding: 5rem;

      .form-input {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        gap: 10px;
        margin: 10px 0;
        padding: 10px 0;

      }
      .form-input-btn{
        display: flex;
        justify-content: center;
      }
    }
  }


}

@keyframes borderrainbow {
  0% {
    border-color: #ff0000;
  }

  20% {
    border-color: #ff00f4;
  }

  40% {
    border-color: #0600ff;
  }

  60% {
    border-color: #00feff;
  }

  80% {
    border-color: #00ff1a;
  }

  100% {
    border-color: #ffe600;
  }

}
